.custom-container {
    width: 90%;
    margin: auto;
}

.section {
    min-height: 100vh;
}
#header-img {
    height: 40px;
    max-width: 300px;
}

.bg-custom {
    background-color: rgb(241, 241, 230);
}

.orange {
    color: rgb(239, 96, 44);
    font-weight: bold;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

#landing {
    background-image: url('../img//landing.png');
    background-size: 500px 700px;
    background-repeat: no-repeat;

    background-position: 50px bottom;
}
iframe {
    height: 70vh;
    width: 100%;
    border: none;
    border-radius: 10px;
}
.footer {
    min-height: 30vh;
}