.custom-container {
    width: 90%;
    margin: auto;
}

.section {
    min-height: 100vh;
}

#header-img {
    height: 40px;
    max-width: 300px;
}

.bg-custom {
    background-color: rgb(241, 241, 230);
}

.orange {
    color: rgb(239, 96, 44);
    font-weight: bold;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

#landing {
    background-image: url('../img//landing.png');
    background-size: 500px 700px;
    background-repeat: no-repeat;

    background-position: 50px bottom;
}

iframe {
    height: 70vh;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.hd-items {
    display: flex;
    gap: 50px;
    padding-top: 50px;
    margin-bottom: 0px;
}

.hd-item img {
    border-radius: 5px;
}

.about {

    margin-top: 200px;
    margin-bottom: 50px;
}

.about-con {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(48, 94, 174, 0.078);
    backdrop-filter: blur(5px);
}

.about-hd {
    background-color: white;
    width: 500px;
    align-self: flex-end;
    padding: 50px;
    margin-top: -150px;
}

.about-bdy {
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    align-items: center;
}

.abt-sec {
    display: flex;
    gap: 20px;
    background-color: white;
    margin-right: -40px;
}

.footer {
    min-height: 30vh;
}

